h1 {
    color: rgb(23, 207, 152);
    background-color: blueviolet;
    font-size: x-large;
}

main {
    color: black;
    background-color: aqua;
    font-size: large;
}

p {
    color:rgb(94, 11, 239);
}

#red {
    color: red;
}

h3 {
    display: none;
    background-color: yellow;
    width: fit-content;
}

hover h2 {
    display: block;
}