header {
    position: sticky;
    top: 0;
    z-index: 1;
}

nav .nav-bar {
    border: 1px solid black;
}

.top-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.nav-bar {
    display: flex;
    flex: auto;
}

#home {
    padding: 20px;
    font-size: larger;
    background-color: white;
    color: black;
}

#max {
    padding: 20px;
    font-size: larger;
    background-color: #8B0000;
    color: white;
}

#mona {
    padding: 20px;
    font-size: larger;
    background-color: #8B008B;
    color: black;
}

#tenley {
    padding: 20px;
    font-size: larger;
    background-color: #8B4513;
    color: black;
}

a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
}

nav .container-fluid {
    border: 1px solid black;
}

.nav-link {
    display: flex;
    flex: auto;
    border: 1px solid black;
}

aside {
    position: fixed;
    z-index: 0;
}

h3 {
    padding: 10px;
}

#catPoll {
    padding: 10px;
}

main {
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

#top {
    scroll-margin: 75px;
}

#monarticle {
    scroll-margin: 75px;
}

#traveling {
    scroll-margin: 75px;
}

#space {
    scroll-margin: 75px;
}

p {
    padding: 5px;
}

footer {
    font-size: small;
    position: fixed;
    bottom: 0;
    background-color: white;
}