
/* nav bar */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: brown;
}

.navbar {
    display: flex;
    padding: 0; 
    margin: 0; 
    border: 1px solid black;
}

.navbar .col {
    flex: 1; 
    margin: 0; 
    padding: 0; 
    text-align: center;
}

.navbar .col a {
    display: block; 
    padding: 15px 0; 
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    background-color: brown; 
    margin: 0; 
}

.navbar .col a:hover {
    background-color: #ffdead;
    color: #000;
}

.nav-link {
    font-weight: bold;
    text-transform: uppercase;
}

.nav-link.active {
    background-color: #ffdead;
    color: #000;
}


#home, #maxwell, #mona, #tenley {
    padding: 20px;
    font-size: larger;
}

#home { background-color: white; color: black; }
#maxwell { background-color: #8B0000; color: white; }
#mona { background-color: #8B008B; color: black; }
#tenley { background-color: #8B4513; color: black; }

/*main content*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.main-content {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
}



.carousel-inner img {
    height: 100%; 
    max-height: 400px; 
    width: 100%; 
    object-fit: contain; 
    display: block; 
    margin: 0 auto; 
    background-color: #000; 
}
/* side bar */

.sidebar {
    position: fixed;
    top: 100px;
    left: 0;
    width: 250px;
    padding: 15px;
    background-color: #8B4513;
    border-left: 1px solid #ddd;
    height: calc(100% - 150px);
    overflow-y: auto;
}

.sidebar h3 {
    text-align: center;
}

/* Footer */
footer {
    margin-top: 20px;
    text-align: center;
    background-color: #8B4513;
    color: white;
    padding: 15px;
}

/* Responsive Design */
@media (max-width: 1024px) {
    /* Sidebar moves to the bottom */
    .sidebar {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        height: auto;
        border-left: none;
        border-top: 1px solid #ddd;
    }
    
    .main-content {
        margin-top: 0;
    }
}